services:
  uno:
    image: uno-server
    build: .
    ports:
      - "7777:7777"
    restart: unless-stopped
    read_only: true
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp